* {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

#navbar-ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #333;
    height: 25px;
}

.nav-li {
    background-color: #333;
    color: #fff;
}

a {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}

a:hover {
    color: brown;
    background-color: #fff;
}