* {
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.box {
    height: 100px;
    width: 300px;
    background-color: #333;
    border: 1px solid red;
}