@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Condensed", sans-serif;
    background-color: #000;
}




.box {
    /* background-color: #20a9df;
    height: 15rem;
    width: 15rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    line-height: 1.4;
    color: #fff; */
    /* outline-style: solid;
    outline-color: brown;
    outline: none; */

}