* {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.parent {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 90vh;
}

/* #child1 , #child4 {
    flex-shrink: 0;
} */

.child {
    height: 100px;
    width: 400px;
    background-color: #333;
    color: bisque;
    border: 2px solid red;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;
}